/**
 * @file: style.css
 */

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size: 1em;
}

h1 {
	font-size: 2em;
	font-weight: 300;
	margin-bottom: 0.5em;
}
p {
	margin-bottom: 0.5em;
}

.alignleft {
	float: left;
	margin-right: 1em;
}
.text-content { overflow: hidden; }

.gallery {
	list-style-type: none;
	margin: 0 auto;
	width: 150px;
}

#wrap {
	margin: 2em auto;
	width: 960px;
}